body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
}

.logo {
    width: 200px;
}

button.hover {
    background-color: #e4c7c7; /* Change color as needed */
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button.hover:hover {
    background-color: #b35700; /* Darker shade on hover */
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.project-image, .mockup-image {
    width: 250px; /* Set a base width */
    margin: 10px;
    border-radius: 8px;
}

.testimonials {
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
